In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
node_features =  pd.read_csv('../docs/node_features.csv')

In [4]:
source_features = pd.read_csv('../docs/source_features.csv.zip')

In [5]:
source_features.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
#source_features = source_features_start.join(node_features.set_index('node_id').drop(['is_parent_node','is_leaf_node','parents_count','children_links_counts',
                                                           #'parents_links_counts'], axis=1),on='node_id')

In [7]:
source_features.head()

   node_id  parents_count  non_leaf_descendants_count  leaf_descendans_count
0     1097             21                        37.0                  139.0
1     1122            109                       251.0                  761.0
2     1152             94                        99.0                 2678.0
3     1170            138                       118.0                  334.0
4     1174            187                       198.0                  344.0

In [8]:
source_features.nunique()

node_id                       20000
parents_count                   902
non_leaf_descendants_count      845
leaf_descendans_count          2891
dtype: int64

In [9]:
sink_features = pd.read_csv('../docs/sink_features.v2.csv.gz')

In [10]:
sink_features.drop('is_leaf_node',inplace=True,axis=1)

In [11]:
sink_features.count()

node_id                              4867136
parent_non_leaf_descendants_count    4867136
parent_leaf_descendans_count         4867136
parents_count                        4867136
dtype: int64

In [12]:
test_data = pd.read_csv('../docs/coef_comparision_TestDataSet.csv')
test_data.head()

    Source     Sink        AA        JA      PA  Id
0  2184483  1300190  0.000000  0.000000     435   1
1  3151356  1452193  0.407705  0.006260  102306   2
2  1579396   193159  0.000000  0.000000     418   3
3  1406432  2481036  1.238898  0.062500    2838   4
4  2389638   593017  0.802812  0.012072   62196   5

In [13]:
test_data.drop('JA',axis=1,inplace=True)

# Feature matrix for test data

In [14]:
df1 = test_data.join(source_features.set_index('node_id'),on='Source')

In [15]:
df1.head()

,Source,Sink,AA,PA,Id,parents_count,non_leaf_descendants_count,leaf_descendans_count
0,2184483,1300190,0.000000,435,1,102,65.0,18.0
1,3151356,1452193,0.407705,102306,2,39,119.0,221.0
2,1579396,193159,0.000000,418,3,13,66.0,142.0
3,1406432,2481036,1.238898,2838,4,16,48.0,36.0
4,2389638,593017,0.802812,62196,5,30,69.0,198.0

In [16]:
df1.rename(columns= {'parents_count':'source_parents_count',
                              'non_leaf_descendants_count':'source_non_leaf_descendants_count',
                              'leaf_descendans_count':'source_leaf_descendans_count'},inplace=True)

In [17]:
df1.head()

,Source,Sink,AA,PA,Id,source_parents_count,source_non_leaf_descendants_count,source_leaf_descendans_count
0,2184483,1300190,0.000000,435,1,102,65.0,18.0
1,3151356,1452193,0.407705,102306,2,39,119.0,221.0
2,1579396,193159,0.000000,418,3,13,66.0,142.0
3,1406432,2481036,1.238898,2838,4,16,48.0,36.0
4,2389638,593017,0.802812,62196,5,30,69.0,198.0

In [18]:
df2 = test_data.join(sink_features.set_index('node_id'),on='Sink')

In [19]:
df2.rename(columns={'parents_count':'sink_parents_count',
                              'parent_non_leaf_descendants_count':'sink_parent_non_leaf_descendants_count',
                              'parent_leaf_descendans_count':'sink_parent_leaf_descendans_count'},inplace=True)

In [20]:
df2.head()

,Source,Sink,AA,PA,Id,sink_parent_non_leaf_descendants_count,sink_parent_leaf_descendans_count,sink_parents_count
0,2184483,1300190,0.000000,435,1,2702,109609,3
1,3151356,1452193,0.407705,102306,2,179071,8088742,289
2,1579396,193159,0.000000,418,3,3396,16755,2
3,1406432,2481036,1.238898,2838,4,2283,4034,24
4,2389638,593017,0.802812,62196,5,41352,544270,165

In [21]:
X_test = df1.join(df2.set_index('Id').drop(['Source','AA','Sink','PA'],axis=1),on='Id')

In [22]:
X_test.head()

,Source,Sink,AA,PA,Id,source_parents_count,source_non_leaf_descendants_count,source_leaf_descendans_count,sink_parent_non_leaf_descendants_count,sink_parent_leaf_descendans_count,sink_parents_count
0,2184483,1300190,0.000000,435,1,102,65.0,18.0,2702,109609,3
1,3151356,1452193,0.407705,102306,2,39,119.0,221.0,179071,8088742,289
2,1579396,193159,0.000000,418,3,13,66.0,142.0,3396,16755,2
3,1406432,2481036,1.238898,2838,4,16,48.0,36.0,2283,4034,24
4,2389638,593017,0.802812,62196,5,30,69.0,198.0,41352,544270,165

In [23]:
X_test.columns

Index(['Source', 'Sink', 'AA', 'PA', 'Id', 'source_parents_count',
       'source_non_leaf_descendants_count', 'source_leaf_descendans_count',
       'sink_parent_non_leaf_descendants_count',
       'sink_parent_leaf_descendans_count', 'sink_parents_count'],
      dtype='object')

# Caliculating rank of the matrix

In [24]:
from numpy.linalg import matrix_rank

In [25]:
X_test.head()

,Source,Sink,AA,PA,Id,source_parents_count,source_non_leaf_descendants_count,source_leaf_descendans_count,sink_parent_non_leaf_descendants_count,sink_parent_leaf_descendans_count,sink_parents_count
0,2184483,1300190,0.000000,435,1,102,65.0,18.0,2702,109609,3
1,3151356,1452193,0.407705,102306,2,39,119.0,221.0,179071,8088742,289
2,1579396,193159,0.000000,418,3,13,66.0,142.0,3396,16755,2
3,1406432,2481036,1.238898,2838,4,16,48.0,36.0,2283,4034,24
4,2389638,593017,0.802812,62196,5,30,69.0,198.0,41352,544270,165

In [26]:
matrix_rank(X_test.values[:, 3:])

8

In [27]:
0.

0.0

# Standardising the test data

In [28]:
from sklearn import preprocessing

In [29]:
#X_test_standardised = X_test.drop(['Id','Source','Sink','AA'],axis=1).apply(preprocessing.robust_scale)

In [30]:
#X_test_standardised = X_test.drop(['Id','Source','Sink'],axis=1).apply(lambda x: np.log10(x+1))

In [31]:
X_test_standardised = X_test.drop(['Id','Source','Sink','AA'],axis=1).apply(lambda x: np.log(x+1))

In [32]:
# applying tanh to squash the values between 0 to 1

In [33]:
def new_sigmoid(x):
    score = (2/(1+np.exp(-x)))-1
    return score

In [34]:
X_test_standardised['AA'] = X_test['AA'].apply(new_sigmoid)

In [35]:
#X_test_standardised.reset_index(drop=True,inplace=True)

In [36]:
X_test_standardised.head()

,PA,source_parents_count,source_non_leaf_descendants_count,source_leaf_descendans_count,sink_parent_non_leaf_descendants_count,sink_parent_leaf_descendans_count,sink_parents_count,AA
0,6.077642,4.634729,4.189655,2.944439,7.902118,11.604684,1.386294,0.000000
1,11.535733,3.688879,4.787492,5.402677,12.095543,15.905984,5.669881,0.201075
2,6.037871,2.639057,4.204693,4.962845,8.130648,9.726512,1.098612,0.000000
3,7.951207,2.833213,3.891820,3.610918,7.733684,8.302762,3.218876,0.550744
4,11.038062,3.433987,4.248495,5.293305,10.629900,13.207203,5.111988,0.381151

In [37]:
X_test_standardised.describe()

,PA,source_parents_count,source_non_leaf_descendants_count,source_leaf_descendans_count,sink_parent_non_leaf_descendants_count,sink_parent_leaf_descendans_count,sink_parents_count,AA
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,8.982726,3.591326,3.716332,4.814037,9.536324,12.900121,3.484307,0.260218
std,2.817282,1.392287,1.371289,1.938100,2.090113,2.483634,1.777210,0.347802
min,1.386294,0.693147,0.000000,0.000000,2.197225,2.079442,0.693147,0.000000
25%,6.845327,2.564949,2.890372,3.610918,8.318071,11.676956,2.079442,0.000000
50%,8.986946,3.610918,3.784190,4.753590,9.925689,13.632869,3.526361,0.068764
75%,10.873073,4.574711,4.663439,5.948687,11.101463,14.680368,4.779123,0.432855
max,20.326943,7.612337,7.683864,12.819595,13.660744,16.560354,8.485083,1.000000

In [38]:
train_data = pd.read_csv('./PA_AA_train_data.csv')

# Feature matrix for Train data

In [39]:
train_data.head()

   Source     Sink         AA  value      PA
0    1097  1956386   0.000000      0     182
1    1097  4240968   0.000000      0     364
2    1122  1663141   0.077345      0    1060
3    1122  1747030   0.077345      0    1060
4    1122  2962986  25.321024      1  446260

In [40]:
df3 = train_data.join(source_features.set_index('node_id'),on='Source')

In [41]:
df3.head()

,Source,Sink,AA,value,PA,parents_count,non_leaf_descendants_count,leaf_descendans_count
0,1097,1956386,0.000000,0,182,21,37.0,139.0
1,1097,4240968,0.000000,0,364,21,37.0,139.0
2,1122,1663141,0.077345,0,1060,109,251.0,761.0
3,1122,1747030,0.077345,0,1060,109,251.0,761.0
4,1122,2962986,25.321024,1,446260,109,251.0,761.0

In [42]:
df3.head()

,Source,Sink,AA,value,PA,parents_count,non_leaf_descendants_count,leaf_descendans_count
0,1097,1956386,0.000000,0,182,21,37.0,139.0
1,1097,4240968,0.000000,0,364,21,37.0,139.0
2,1122,1663141,0.077345,0,1060,109,251.0,761.0
3,1122,1747030,0.077345,0,1060,109,251.0,761.0
4,1122,2962986,25.321024,1,446260,109,251.0,761.0

In [43]:
df3.rename(columns= {'parents_count':'source_parents_count',
                              'non_leaf_descendants_count':'source_non_leaf_descendants_count',
                              'leaf_descendans_count':'source_leaf_descendans_count'},inplace=True)

In [44]:
df3.set_index(['Source','Sink'],inplace=True)
df3.head()

                       AA  value      PA  source_parents_count  \
Source Sink
1097   1956386   0.000000      0     182                    21
       4240968   0.000000      0     364                    21
1122   1663141   0.077345      0    1060                   109
       1747030   0.077345      0    1060                   109
       2962986  25.321024      1  446260                   109

                source_non_leaf_descendants_count  \
Source Sink
1097   1956386                               37.0
       4240968                               37.0
1122   1663141                              251.0
       1747030                              251.0
       2962986                              251.0

                source_leaf_descendans_count
Source Sink
1097   1956386                         139.0
       4240968                         139.0
1122   1663141                         761.0
       1747030                         761.0
       2962986                         761.0

In [45]:
df4 = train_data.join(sink_features.set_index('node_id'),on='Sink')

In [46]:
df4.rename(columns={'parents_count':'sink_parents_count',
                              'parent_non_leaf_descendants_count':'sink_parent_non_leaf_descendants_count',
                              'parent_leaf_descendans_count':'sink_parent_leaf_descendans_count'},inplace=True)

In [47]:
df4.set_index(['Source','Sink'],inplace=True)
df4.head()

                       AA  value      PA  \
Source Sink
1097   1956386   0.000000      0     182
       4240968   0.000000      0     364
1122   1663141   0.077345      0    1060
       1747030   0.077345      0    1060
       2962986  25.321024      1  446260

                sink_parent_non_leaf_descendants_count  \
Source Sink
1097   1956386                                      63
       4240968                                    1547
1122   1663141                                     472
       1747030                                     472
       2962986                                   30976

                sink_parent_leaf_descendans_count  sink_parents_count
Source Sink
1097   1956386                                481                   1
       4240968                             369901                   2
1122   1663141                             410947                   1
       1747030                             410947                   1
       2962986                            1073476                 104

In [48]:
X_train_v2 = pd.concat([df3.sort_index(),df4.sort_index().drop(['value','AA','PA'],axis=1)],axis=1)

In [49]:
X_train_v2.head(10)

                       AA  value      PA  source_parents_count  \
Source Sink
1097   1956386   0.000000      0     182                    21
       4240968   0.000000      0     364                    21
1122   1663141   0.077345      0    1060                   109
       1747030   0.077345      0    1060                   109
       2962986  25.321024      1  446260                   109
       3175699   0.000000      0    6360                   109
       3378788   0.000000      0    1060                   109
       3396131   4.141560      1   75260                   109
1152   437467    0.090042      0   47872                    94
       583373    5.163606      1  343552                    94

                source_non_leaf_descendants_count  \
Source Sink
1097   1956386                               37.0
       4240968                               37.0
1122   1663141                              251.0
       1747030                              251.0
       2962986                              251.0
       3175699                              251.0
       3378788                              251.0
       3396131                              251.0
1152   437467                                99.0
       583373                                99.0

                source_leaf_descendans_count  \
Source Sink
1097   1956386                         139.0
       4240968                         139.0
1122   1663141                         761.0
       1747030                         761.0
       2962986                         761.0
       3175699                         761.0
       3378788                         761.0
       3396131                         761.0
1152   437467                         2678.0
       583373                         2678.0

                sink_parent_non_leaf_descendants_count  \
Source Sink
1097   1956386                                      63
       4240968                                    1547
1122   1663141                                     472
       1747030                                     472
       2962986                                   30976
       3175699                                    3550
       3378788                                    3295
       3396131                                   15726
1152   437467                                    14664
       583373                                    68766

                sink_parent_leaf_descendans_count  sink_parents_count
Source Sink
1097   1956386                                481                   1
       4240968                             369901                   2
1122   1663141                             410947                   1
       1747030                             410947                   1
       2962986                            1073476                 104
       3175699                             130914                   6
       3378788                             396838                   1
       3396131                             255765                  71
1152   437467                              911681                  17
       583373                             3330098                 122

In [50]:
X_train_v2.count()

AA                                        171996
value                                     171996
PA                                        171996
source_parents_count                      171996
source_non_leaf_descendants_count         171996
source_leaf_descendans_count              171996
sink_parent_non_leaf_descendants_count    171996
sink_parent_leaf_descendans_count         171996
sink_parents_count                        171996
dtype: int64

# Caliculating rank of the train matrix

In [51]:
from numpy.linalg import matrix_rank

In [52]:
X_train_v2.head()

                       AA  value      PA  source_parents_count  \
Source Sink
1097   1956386   0.000000      0     182                    21
       4240968   0.000000      0     364                    21
1122   1663141   0.077345      0    1060                   109
       1747030   0.077345      0    1060                   109
       2962986  25.321024      1  446260                   109

                source_non_leaf_descendants_count  \
Source Sink
1097   1956386                               37.0
       4240968                               37.0
1122   1663141                              251.0
       1747030                              251.0
       2962986                              251.0

                source_leaf_descendans_count  \
Source Sink
1097   1956386                         139.0
       4240968                         139.0
1122   1663141                         761.0
       1747030                         761.0
       2962986                         761.0

                sink_parent_non_leaf_descendants_count  \
Source Sink
1097   1956386                                      63
       4240968                                    1547
1122   1663141                                     472
       1747030                                     472
       2962986                                   30976

                sink_parent_leaf_descendans_count  sink_parents_count
Source Sink
1097   1956386                                481                   1
       4240968                             369901                   2
1122   1663141                             410947                   1
       1747030                             410947                   1
       2962986                            1073476                 104

In [53]:
matrix_rank(X_train_v2.values[:, 1:])

8

# Standardising the Train data - Hyperparametre

In [54]:
# The following is a hyperparametre for our model

In [55]:
from sklearn import preprocessing

In [56]:
#X_train_standardised = X_train.drop(['Value','AA'],axis=1).apply(preprocessing.robust_scale)

In [57]:
#X_train_standardised = X_train.drop(['Value'],axis=1).apply(lambda x: np.log10(x+1))

In [58]:
X_train_standardised = X_train_v2.drop(['value','AA'],axis=1).apply(lambda x: np.log(x+1))

In [59]:
X_train_standardised['AA'] = X_train_v2['AA'].apply(new_sigmoid)

In [60]:
#X_train_standardised.reset_index(drop=True,inplace=True)

In [61]:
X_train_standardised.describe()

,PA,source_parents_count,source_non_leaf_descendants_count,source_leaf_descendans_count,sink_parent_non_leaf_descendants_count,sink_parent_leaf_descendans_count,sink_parents_count,AA
count,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000
mean,9.097747,4.598381,4.730980,6.687036,8.467613,12.567545,2.273194,0.282359
std,4.219501,1.824378,1.804788,3.058529,2.253250,2.446209,1.732567,0.395878
min,0.693147,0.693147,0.000000,0.000000,0.000000,1.098612,0.693147,0.000000
25%,5.484797,3.258097,3.465736,4.369448,6.990947,11.336415,0.693147,0.000000
50%,7.906547,4.574711,4.753590,6.257668,8.522976,13.137806,1.386294,0.000000
75%,13.153690,6.063785,6.159095,9.237858,10.328616,14.257465,3.688879,0.642455
max,24.281521,8.485083,8.522976,13.536809,13.752316,16.573638,8.485083,1.000000

In [62]:
X_train_standardised.columns

Index(['PA', 'source_parents_count', 'source_non_leaf_descendants_count',
       'source_leaf_descendans_count',
       'sink_parent_non_leaf_descendants_count',
       'sink_parent_leaf_descendans_count', 'sink_parents_count', 'AA'],
      dtype='object')

In [63]:
X_test_standardised = X_test_standardised[['PA', 'source_parents_count', 'source_non_leaf_descendants_count',
       'source_leaf_descendans_count',
       'sink_parent_non_leaf_descendants_count',
       'sink_parent_leaf_descendans_count', 'sink_parents_count', 'AA']]

In [64]:
# The labels

In [65]:
y_train = X_train_v2['value']

In [66]:
X_train_standardised.shape

(171996, 8)

In [67]:
y_train.sum()

76177

In [68]:
X_test_standardised.head()

,PA,source_parents_count,source_non_leaf_descendants_count,source_leaf_descendans_count,sink_parent_non_leaf_descendants_count,sink_parent_leaf_descendans_count,sink_parents_count,AA
0,6.077642,4.634729,4.189655,2.944439,7.902118,11.604684,1.386294,0.000000
1,11.535733,3.688879,4.787492,5.402677,12.095543,15.905984,5.669881,0.201075
2,6.037871,2.639057,4.204693,4.962845,8.130648,9.726512,1.098612,0.000000
3,7.951207,2.833213,3.891820,3.610918,7.733684,8.302762,3.218876,0.550744
4,11.038062,3.433987,4.248495,5.293305,10.629900,13.207203,5.111988,0.381151

# Training the model

In [69]:
from sklearn.linear_model import LogisticRegression

In [70]:
from sklearn.utils import shuffle

In [71]:
X_train, Y_train = shuffle(X_train_standardised, y_train, random_state=0)

In [72]:
X_train.columns

Index(['PA', 'source_parents_count', 'source_non_leaf_descendants_count',
       'source_leaf_descendans_count',
       'sink_parent_non_leaf_descendants_count',
       'sink_parent_leaf_descendans_count', 'sink_parents_count', 'AA'],
      dtype='object')

In [73]:
logmodel = LogisticRegression(C=1,solver= 'sag',max_iter=800)

In [74]:
logmodel.fit(X_train,Y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=800, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='sag', tol=0.0001,
          verbose=0, warm_start=False)

In [75]:
logmodel.coef_

array([[ 1.74638335, -0.52584176, -0.12416794, -0.35449288,  0.53389721,
        -0.50713951, -0.89537365, 54.69784131]])

In [102]:
from  sklearn.feature_selection import SelectFromModel

In [104]:
SelectFromModel(logmodel.coef_,prefit=True)

SelectFromModel(estimator=array([[ 1.74638, -0.52584, -0.12417, -0.35449,  0.5339 , -0.50714,
        -0.89537, 54.69784]]),
        norm_order=1, prefit=True, threshold=None)

In [76]:
predictions = logmodel.predict(X_test_standardised)

In [77]:
sum(predictions)

1060

In [78]:
len(predictions)

2000

In [79]:
probs = logmodel.predict_proba(X_test_standardised)

In [80]:
probabs = [probs[i][1] for i in range(len(probs))]

In [81]:
logistic_predictions = pd.DataFrame()

In [82]:
logistic_predictions['Prediction'] = probabs

In [83]:
logistic_predictions['Id'] = X_test['Id']

In [84]:
logistic_predictions.set_index('Id',drop=True,inplace=True)

In [85]:
logistic_predictions.to_csv('prediction_trail_29th.csv')

# Train and test split

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X_train, 
                                                    Y_train, test_size=0.30, 
                                                    random_state=117)

In [88]:
logmodel1 = LogisticRegression(C=1,solver= 'sag',max_iter=800)
logmodel1.fit(X_train,y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=800, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='sag', tol=0.0001,
          verbose=0, warm_start=False)

In [89]:
logmodel1.coef_

array([[ 1.73596433, -0.52458834, -0.09680484, -0.35077293,  0.53415973,
        -0.50126   , -0.86618094, 47.46820579]])

In [90]:
predictions = logmodel1.predict(X_test)

In [91]:
probs1 = logmodel.predict_proba(X_test)

In [92]:
probabs1 = [probs1[i][1] for i in range(len(probs1))]

In [93]:
from sklearn.metrics import classification_report

In [94]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.99      0.99      0.99     28755
          1       0.99      0.98      0.99     22844

avg / total       0.99      0.99      0.99     51599

In [95]:
from sklearn import metrics

In [96]:
from sklearn.metrics import roc_auc_score

In [97]:
roc_auc_score(y_test,probabs1)

0.9995358933716917